{% extends 'base.html' %}
{% block content %}
<div class="container m-5">
    <div class="row pt-5 justify-content-center">
        <div class="col-12 col-md-5 m-3 p-3">
            <p class="fw-bold"> Inscrivez-vous maintenant! </p>
            <form method="get" action="{% url 'signup' %}">
                <button type="submit">Sinscrire</button>
            </form>
        </div>
        <div class="col-12 col-md-5 m-3 p-3">
            <p class="fw-bold">Connectez-vous:</p>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit" >Se connecter</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}