{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <p> inscrivez-vous maintenant! </p>
            <form method="get" action="{% url 'signup' %}">
                <button type="submit">Sinscrire</button>
            </form>
        </div>
        <div class="col">
            <p>Connectez-vous</p>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit" >Se connecter</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}