{% extends 'base.html' %}
{% load blog_extras %}
{% load static %}
{% block content %}

<h2 class="text-center">Flux: Tickets et Reviews</h2>

<!--bouton-->
<div class="row m-3">
    <div class="col d-flex justify-content-center">
        <form method="get" action="{% url 'ticket_create' %}">
            <button type="submit" class="btn btn-secondary"  >Créer une critique</button>
        </form>
    </div>

    <div class="col d-flex  justify-content-center">
      <form method="get" action="{% url 'ticket_request' %}">
            <button type="submit" class="btn btn-secondary">Demander une critique</button>
        </form>
    </div>

      <div class="col d-flex  justify-content-center">
      <form method="get" action="{% url 'ticket_and_review_create' %}">
            <button type="submit" class="btn btn-secondary">Créer critique et review</button>
        </form>
    </div>
</div>


<!--tickets-->
<div class="row">
        {% for instance in tickets_and_reviews %}

     <div class="col-12  col-sm-6 col-lg-3">

         {% if instance|model_type == 'Ticket' %}

                    <div class="card m-2"  >
                        <p class="fs-5 fw-bold">{{ instance.get_ticket_type_display }}</p>

                            {% if not instance.image %}
        <img src="{% static 'images/none.png' %}" class="card-img-top img-fluid w-50 mx-auto m-3"
             alt="Image par défaut">
    {% else %}
        <img src="{{ instance.image.url }}" class="card-img-top img-fluid w-50 mx-auto m-3" alt="Image du ticket">
    {% endif %}

                        <div class="card-body">
                            <h3 class="card-title text-center text-primary"> {{ instance.title }}</h3>
                            <p class="card-text overflow-auto" style="max-height: 200px;">
                                Publié par <strong>{% display_you instance.user %}</strong> ({{instance.time_created}})
                                <br>
                                <br>
                               <span class="text-decoration-underline"> Description :</span>
                                <br>
                                {{instance.description}}
                            </p>
                                   {% if instance.user_has_reviewed_ticket %}
            <p class="text-primary">Vous avez déjà publié une review sur ce ticket.</p>
        {% else %}
            <a href="{% url 'review_create' instance.id %}" class="btn btn-primary">Review</a>
        {% endif %}
                        </div>
                    </div>


         {% elif instance|model_type == 'Review' %}


            <div class="card m-2" >
                 <p class="fs-5 fw-bold">Review</p>
                {% if instance.ticket.image %}
                        <img class="card-img-top  img-fluid w-50 mx-auto m-3" src="{{ instance.ticket.image.url }}" alt="Review Image">
                {% endif %}
                        <h3 class="card-title text-center text-primary "> {{ instance.headline}} </h3>
                    <div class="card-body">
                      <p> <span class="text-decoration-underline"> Rating:</span>
                    {% if instance.rating == 5 %}
                    <img src="{% static 'images/stars5.png' %}" alt="Image for Rating 5">
                       {% elif instance.rating == 4 %}
                    <img src="{% static 'images/stars4.png' %}" alt="Image for Rating 4">
                        {% elif instance.rating == 3 %}
                    <img src="{% static 'images/stars3.png' %}" alt="Image for Rating 3">
                       {% elif instance.rating == 2 %}
                    <img src="{% static 'images/stars4.png' %}" alt="Image for Rating 2">
                        {% elif instance.rating == 1 %}
                    <img src="{% static 'images/stars1.png' %}" alt="Image for Rating 1">
                {% endif %}
                </p>

                <p class="card-text">
                    Publié par <strong>{% display_you instance.user %}</strong>  ({{instance.time_created}})
                    <br>
                    <br>

                    <span class="text-decoration-underline"> Commentaires:</span>
                    <br>
                    {{ instance.body }}
                </p>
                        </div>
            </div>

         {% endif %}

     </div>
        {% endfor %}
</div>


{% endblock content %}