{% extends 'base2.html' %}
{% block content2 %}
  <h2>Création de review</h2>
<p>Le ticket selectione est {{ticket.title}}</p>

   <img src=" {{ticket.image.url}}">
    <form method="post"   action="{% url 'review_create' ticket.id %}" >
        {{ form.as_p }}
           {% csrf_token %}
        <button type="submit" >Publier</button>
    </form>

   <form method="get" action="{% url 'home' %}">
                <button type="submit" class="btn btn-secondary">Annuler</button>
            </form>

{% endblock content2 %}